{% extends "layout.twig" %}

{% block content %}

<div class="card mb-5">
    <div class="card-header text-center">
        <h3 class="mb-0">Users</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ include('APP/pagination/bootstrap.twig', { 
            currentPage: users.currentPage,
            lastPage: (users.total / users.perPage)|round,
            showAlwaysFirstAndLast: true
        }) }}
    </div>
</div>
{% endblock %}